@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

.EmojiPickerReact.epr-dark-theme {
  --epr-bg-color: #0a0e28;
  --epr-category-label-bg-color: #0a0e28;
}

/* bg-color: FEFFFE, text dark: 0E1418, text light: 536471,  accent: 2196F3*/

@layer base {
  body {
    @apply bg-[#FEFFFE] text-[#0A0E28] font-sans dark:bg-[#0A0E28] dark:text-[#fff] scroll-smooth;
  }
  .menu-link {
    @apply rounded-full text-[#333333] font-medium text-lg capitalize flex items-center gap-4 hover:text-[#0A0E28] transition dark:text-[#D9D9D9] hover:dark:text-white;
  }

  .menu-link.active {
    @apply text-[#0E1418] font-bold dark:text-[#E6E9EB];
  }

  .menu-link.active span {
    @apply fill-[#0e1418] dark:fill-[#E6E9EB] dark:text-white;
  }

  .btn {
    @apply md:px-5 py-3 text-lg outline-none border-none flex items-center justify-center gap-2 rounded-full font-semibold transition;
  }

  .btn:disabled {
    @apply opacity-50 cursor-not-allowed;
  }

  .btn-primary {
    @apply bg-[#1D9AF1]  text-white;
  }

  .btn-accent {
    @apply bg-[#FF4775]  text-white;
  }

  .btn-secondary {
    @apply bg-[#0E1418] text-white dark:bg-[#D9D9D9] dark:text-[#333333] hover:opacity-90 transition;
  }

  .btn-danger {
    @apply bg-[#f91880]/10  text-[#F44336] hover:bg-[#f91880]/20 transition;
  }

  .btn-sm {
    @apply px-4 py-2 text-sm;
  }

  .btn-outline {
    @apply flex items-center justify-center px-6 py-2 text-sm border font-bold border-black/10 dark:border-white/10 rounded-full hover:bg-black/5 dark:hover:bg-white/5 transition gap-1;
  }

  .post-btn {
    @apply text-[#536471] dark:text-[#A0A0A0] w-8 h-8 rounded-full flex items-center justify-center transition;
  }

  .hashtag {
    @apply text-[#1D9AF1] hover:underline;
  }

  .dropdown-btn {
    @apply text-[#536471] dark:text-[#A0A0A0] flex items-center justify-center transition w-8 h-8 rounded-full hover:bg-[#1D9AF1]/10 hover:!text-[#1D9AF1];
  }

  .footer-item {
    @apply text-[13px] text-[#536471] dark:text-[#A0A0A0] pr-3 hover:underline;
  }

  .footer-copyrights {
    @apply text-[13px] text-[#536471] dark:text-[#A0A0A0];
  }

  .create-post-rounded-btn {
    @apply text-[#1D9AF1] w-10 h-10 rounded-full flex items-center justify-center cursor-pointer hover:bg-[#1D9AF1]/10 transition;
  }

  ::-webkit-scrollbar {
    @apply w-2;
  }

  ::-webkit-scrollbar-track {
    @apply bg-black/10 dark:bg-white/20;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-white/20 rounded-full;
  }

  .shimmer {
    animation: shimmer 2s infinite linear;
  }

  .form-control {
    @apply w-full p-4 rounded-xl bg-[#F6F9F8] dark:bg-white/5 border border-[#E5E7EB] dark:border-[#4B5563] focus:outline-none  transition text-[#0A0E28] dark:text-white;
  }

  .createPostHashtag {
    @apply #1D9AF1;
  }

  .light-toast {
    background-color: #fefffe;
    color: #0a0e28;
  }

  .dark-toast {
    background-color: #0a0e28;
    color: #fefffe;
  }

  .input {
    @apply p-3 w-full bg-transparent dark:border-2 border dark:border-white/10 border-[#0A0E28]/10 rounded-md outline-none;
  }
}

@keyframes shimmer {
  0% {
    background-position: -200%;
  }
  100% {
    background-position: 200%;
  }
}
